<!-- header -->
<header data-scroll-fixed-header="" data-ng-include="'partials/header.html'"></header>
<!-- main content -->
<div class="page">
    <div class="content-box">
        <div class="corner-mark-lg"></div>
        <h1 class="title-center"><button class="button-title" data-ng-click="goPrev()">< &#32;Back</button>Rule Details
            <div class="title-info">Relationship to CAA : <span ng-class="isCaa(currentDocument.cfrPart.value) ? 'yes-code' : 'no-code'">{{ isCaa(currentDocument.cfrPart.value) ? 'YES' : 'NO' }}</span></div>
        </h1>
        <div class="clearfix"></div>
        <div class="details-panel">
            <div class="comment-box">
                <div class="corner-mark-small"></div>
                <h2 class="title-center">
                    You can comment on this rule!
                </h2>
                <h4 class="title-center">
                    Click below to go to this rule on Regulations.gov and leave your feedback.
                </h4>
                <div class="button-row">
                    <button class="button-title button-comment" data-ng-click="commentRule()" >Comment on this Rule</button>
                </div>
                <br>
            </div>
            <br><br>
            <h5 class="sub-title">Document Title</h5>
            <h2 class="main-title">{{currentDocument.title.value}}</h2>
            <h5 class="sub-title">Rule Docket Title</h5>
            <h3 class="main-sub-title">{{currentDocument.docketTitle.value}}</h3>
            <h5 class="sub-title">Rule Description</h5>
            <p>{{currentDocument.summary && currentDocument.summary.trim().length > 0 ? currentDocument.summary : 'No description available.'}}</p>
            <nav>
                <ul class="details-list">
                    <li data-ng-class="{current: currentIndex === 0}" data-ng-click="currentIndex = 0;">Addresses</li>
                    <li data-ng-class="{current: currentIndex === 1}" data-ng-click="currentIndex = 1;">Dates</li>
                    <li data-ng-class="{current: currentIndex === 2}" data-ng-click="currentIndex = 2;">Contact Information</li>
                    <li data-ng-class="{current: currentIndex === 3}" data-ng-click="currentIndex = 3;">Supplementary Inforation</li>
                    <li data-ng-class="{current: currentIndex === 4}" data-ng-click="currentIndex = 4;">More Details</li>
                </ul>
            </nav>
            <div class="rule-des">
                <p data-ng-show="currentIndex === 0" class="addresses">
                    <span ng-bind-html="currentDocument.addresses && currentDocument.addresses.trim().length > 0 ? currentDocument.addresses : 'No address information available.' | trust"></span>
                </p>
                <p data-ng-show="currentIndex === 1" class="dates">
                    <span ng-bind-html="currentDocument.dates && currentDocument.dates.trim().length > 0 ? currentDocument.dates : 'No date information available.' | trust"></span>
                </p>
                <p data-ng-show="currentIndex === 2" class="contact">
                    <span ng-bind-html="currentDocument.contact && currentDocument.contact.trim().length > 0 ? currentDocument.contact : 'No contact information available.' | trust"></span>
                </p>
                <p data-ng-show="currentIndex === 3" class="supplementary">
                    <span ng-bind-html="currentDocument.supInfo && currentDocument.supInfo.trim().length > 0 ? currentDocument.supInfo : 'No supplementary information available.' | trust"></span>
                </p>
                <div data-ng-show="currentIndex === 4" class="more-details">
                    <ul ng-show="regulations.length > 0">
                        <li ng-repeat="regulation in regulations">
                            <span>40 CFR Part {{regulation.cfr}}: </span><a ng-href="{{regulation.url}}">{{ regulation.title }}</a>
                        </li>
                    </ul>
                    <p ng-show="regulations.length === 0">No additional details available.</p>
                </div>
            </div>
            <br>
            <br>
            <div ng-show="displayedFacilities.length > 0">
                <h2 class="title-center">The following facilities in your area might be affected:</h2>
                <div class="details-map" id="details-map"></div>
                <ul class="facilites">
                    <li ng-repeat="facility in displayedFacilities">{{ (facility.FacilityName ? facility.FacilityName : 'NAME UNSPECIFIED') }} - {{ (facility.LocationAddress + ', ' + facility.CityName + ', ' + facility.CountyName + ', ' + facility.StateAbbr + ' ' + facility.ZipCode).trim() }}</li>
                </ul>
                <div class="button-row" ng-show="facilitiesOffset + pageLimit <= facilities.length">
                    <button class="button-load" data-ng-click="loadMoreFacilities()">LOAD MORE</button>
                </div>
            </div>
            <br><br>
            <div ng-show="affectedPrograms.length > 0">
                <h2 class="title-center">Programs Affected</h2>
                <ul class="programs">
                    <li ng-repeat="program in affectedPrograms">
                        <div class="corner-mark-small"></div>
                        <h4>{{ program.name }}</h4>
                        <p></p>
                    </li>
                </ul>
                <!--div class="button-row">
                    <button class="button-load" data-ng-click="loadMore()">LOAD MORE</button>
                </div-->
            </div>
            <div class="clearfix"></div>
            <br><br>
            <div ng-show="displayedNaics.length > 0">
                <h2 class="title-center">NAICS Codes</h2>
                <table class="results-table">
                    <thead>
                        <tr>
                            <td>Code</td>
                            <td class="left">Title</td>
                            <td>Count</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="naics in displayedNaics">
                            <td class="naics-code">{{ naics.code }}</td>
                            <td>{{ fixNaicsLabel(naics.label) }}</td>
                            <td class="center">1</td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-row" ng-show="naicsOffset + pageLimit <= relatedNaics.length">
                    <button class="button-load" data-ng-click="loadMoreNaics()">LOAD MORE</button>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
<!-- footer -->
<footer data-ng-include="'partials/footer.html'"></footer>
