<!-- header -->
<header data-scroll-fixed-header="" data-ng-include="'partials/header.html'"></header>
<!-- main content -->
<div class="page">
    <div class="header-msg">
        <h2>EPA - eRules Search Engine</h2>
        Welcome to the eRules search engine - the eRSE provides a capability for you to search against the list of rules and regulations
        that the EPA is proposing in order to enforce legislation that has been recently passed by Congress. Each of these
        rules is open for comment and the EPA wants your input! Through this tool you can expand the results and determine
        how they're related to the Clean Air Act, as well as see linkages from the proposed rules to programs that might
        be related.
    </div>
    <div class="content-box">
        <div class="corner-mark-lg"></div>
        <h1 class="title-center">Search Rules</h1>
        <div class="search-item first-item">
            <div class="search-item-name">Select State</div>
            <div class="search-item-input" data-ng-class="{'none-select': state.length == 0}">
                <isteven-multi-select input-model="states" output-model="state" button-label="icon name" item-label="icon name maker" tick-property="ticked"
                    selection-mode="single" translation="stateLang" helper-elements="filter">
                </isteven-multi-select>
            </div>
        </div>
        <div class="search-item">
            <div class="search-item-name">NAICS Code</div>
            <div class="search-item-input">
                <input type="" name="" value="" data-ng-model="queries.NAICSCode" placeholder="">
            </div>
        </div>
        <div class="search-item">
            <div class="search-item-name">Substance</div>
            <div class="search-item-input">
                <input type="" name="" value="" data-ng-model="queries.Substance" placeholder="">
            </div>
        </div>
        <div class="search-item">
            <div class="search-item-name">Program Name</div>
            <div class="search-item-input">
                <input type="" name="" value="" data-ng-model="queries.proName" placeholder="">
            </div>
        </div>
        <div class="clearfix"></div>
        <h3 class="title-center">Location Details</h3>
        <div class="search-item-sm">
            <div class="search-item-name">City</div>
            <div class="search-item-input" data-ng-class="{'none-select': city.length == 0}">
                <isteven-multi-select input-model="cities" output-model="city" button-label="icon name" item-label="icon name maker" tick-property="ticked"
                    selection-mode="single" translation="cityLang" helper-elements="filter">
                </isteven-multi-select>
            </div>
            <div class="search-item-name">Zip Code</div>
            <div class="search-item-input">
                <input type="" name="" value="" data-ng-model="queries.zipCode" placeholder="Enter Zip Code">
            </div>
        </div>
        <div class="search-item-sm">
            <div class="search-item-name">Street Number</div>
            <div class="search-item-input">
                <input type="" name="" value="" data-ng-model="queries.streetCode" placeholder="Enter Street Number">
            </div>
        </div>
        <div class="button-row">
            <button type="" class="button-reset" data-ng-click="clearInput()">Reset</button> &nbsp;&nbsp;
            <button type="" class="button-confirm" data-ng-click="goNext()">Go!</button>
        </div>
    </div>
    <!--<div style="height:100px;"></div>-->
</div>
<!-- footer -->
<footer data-ng-include="'partials/footer.html'"></footer>
